 <style>
 td,th{
	 text-align:center;
	 width:50%;
	 vertical-align:top;
 }
 th{
	 font-weight:bold;
	
 }
 </style>
<center><h1>CSM会议室预约</h1>
<table width='80%'   >
	<tr>
		<th>PC端地址</th>
		<th>移动端地址</th>
	</tr> 
	<tr>
		<td><img src='__ADDON__/img/pc.jpg' height="320px"/><BR><a href='{$pcUrl}' target="_blank">{$pcUrl}</a><BR></td>
		<td><img src="csmmeet/index/getMobileUrl"  height="320px"/><BR><a href='{$mobileUrl}' target="_blank">{$mobileUrl}</a><BR>请使用微信、钉钉或手机浏览器扫描访问</td>
	</tr>

</table>
</center>