{
    "name": "FTP插件配置示例",
    "host": "192.168.0.1",
    "protocol": "ftp",
    "port": 21,
    "username": "ftp_usename",
    "password": "ftp_password",

    "remotePath": "/",
    "uploadOnSave": true
}
